    <table class="table table-striped">
      <% tasks.each do |task| %>
      <tr>
        <td><%= link_to task.id, task %> <%= task.content %> : <%= task.status %><br>
          <%= link_to task.user.name, user_path(task.user) %></td>
      </tr>
      <% end %>
    </table>