<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h1><%= @user.name %>のタスクリスト</h1>
    <%= render 'tasks', tasks: @tasks %>
    
    <% if current_user == @task.user %>
    <p><%= link_to 'タスク新規作成', new_task_path, class: "btn btn-primary" %></p>
    <% end %>
  </div>
  </div>