<div class="row">
  <div class="col-md-8 col-md-offset-2">
   <% if @users.present? %>
     <table class="table table-striped">
       <% @users.each do |user| %>
       <tr>
         <td><%= link_to user.name, user %></td>
         <td><%= user.email %></td>
       </tr>
       <% end %>
     </table>
     <% else %>
     <p>ユーザー登録はありません</p>
  </div>
</div>
<% end %>