<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
    </div>
    <ul class="nav nav-tabs nav-justified">
      <li><a href="#">Tasks</a></li>
    </ul>
  <div>

</div>
